*{
	margin: 0;
	padding: 0;
	font-family: 'poppins',sans-serif;
}
body{

	background-color: #efefef;
}
img{
	width: 30px;
	border: none;
}
label{
	color: white;
	font-size: 22px;
	font-weight: bold;
}
 
 #bttn{
	border-radius: 180px;
	
}
#search{
border-radius: 180px;
width: 25px;
	

}
i{
	color: white;
	font-size: 22px;
	margin-left: 20px;
}
 li #icon{

	color: #1876f2;
	font-size: 22px;
}
.see{
	color: #339CFF;
	font-weight: normal;
	font-size: 17px;
}
span{
	font-size: 10px;
}


.left-sidebar{
	
background-color: ;
flex-basis: 25%;
position: sticky;
top: 70px;
align-self: flex-start;


}

.main-content{
	flex-basis: 47%;
	margin-top: 10px;
}

.right-sidebar{
	
background-color: ;
flex-basis: 25%;
position: sticky;
top: 70px;
align-self: flex-start;


}



.sidebar-title{

	margin-top: 10px;



	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 18px;
}


.sidebar-title h4{

font-weight: 600;
font-size: 16px;

}


.sidebar-title a{
text-decoration: none;
color:#339CFF; 
}

#main{
	
}

.event{
	text-transform: capitalize;

	display: flex;
	font-size: 14px;
	margin-bottom: 20px;
}
.left-event{

	border-radius: 10px;
	height: 65px;
	width: 65px;
	margin-right: 15px;
	padding-top: 10px;
	text-align: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.left-event span{

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #1876f2;
	color: #fff;
	font-size: 10px;
	padding: 4px,0;
}
.right-event a{

text-decoration: none;
color:#339CFF; 
}
.right-event i{
	color:  #1876f2;
}

.sidebar-ads{
	width: 300px;
	margin-bottom: 20px;
	margin-right: 20px;
	border-radius: 10px;
	
}
.online img{
border-radius: 180px;
width: 40px;
height: 40px;
}

.main-content{
width:100%;


}
.story-gallery{

	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

}
.story{

	flex-basis: 18%;
	padding-top: 32%;
	position: relative;
	background-image:linear-gradient(transparent,rgba(0,0,0,00.5)) ,url(image/member1.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}
.story img{
position: absolute;
width: 40px;
height: 40px;
border-radius: 180px;
top: 10px;
left: 10px;
border: 5px solid  #1876f2;
}
.story p{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;

}
.story1{
	background-image:linear-gradient(transparent,rgba(0,0,0,00.5)) ,url(image/back1.jpg);

}
.story2{
	background-image:linear-gradient(transparent,rgba(0,0,0,00.5)) ,url(image/back2.jpg);
}
.story3{
	background-image:linear-gradient(transparent,rgba(0,0,0,00.5)) ,url(image/back3.jpg);
}
.story4{
	background-image:linear-gradient(transparent,rgba(0,0,0,00.5)) ,url(image/back4.jpg);
}

.story.story1 img{
	top: unset;
	left: 50%;
	bottom: 40px;
	transform: translate(-50%);
	border: 0;
	width: 35px;
}
.post-container{

	width: 100%;
	background:#F6DDE4;
	border-radius: 6px;
	padding: 20px;
	columns: #626262;
}
.profile{

	display: flex;
	align-items: center;
}
.profile img{

	width: 45px;
	border-radius: 180px;
	margin-right: 10px;

}
.profile p{
	margin-bottom: -5px;
}
#one{
	color: black;
	font-size: 10px;
	margin-left: 2px;}
	

.status{

	padding-top: 20px;
	padding-left: 50px;
}
.status textarea{

	width: 100%;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #ccc;
	background: transparent;
}
.status-icon{

	display: flex;
	margin-top: 10px;
}
.status a{
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #626262;
	margin-right: 30px;
	font-size: 13px;
}
.status img{
	width: 20px;
	margin-right: 10px;
}


.post-container1{

	width: 100%;
	background:#F6DDE4;
	border-radius: 6px;
	padding: 20px;
	columns: #626262;
	margin-top: 10px;
}
.post-image{
	width: 100%;
	border-radius: 10px;
}
.post-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;

}
.activity-icon div img{
	width: 18px;
	margin-right: 10px;

}
.activity-icon div{
	display: inline-flex;
	align-items: center;
	margin-right: 30px;
}